html {
    scroll-behavior: smooth;
    font-family: monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
    text-align: center;
}

h2 {
    font-size: 25px;
    text-align: center;
}

p{
    font-size: 15px;
}

a,
ul {
    text-decoration: none;
    list-style: none;
}

section {
    align-items: center;
    justify-content: center;
    padding: 40px 5%;
    gap: 10px;
    color: rgb(48, 48, 48);
}


/* FLEX HORIZONTAL */
section#SocialNetworks ul,
section#Projects ul {
    display: flex;
    flex-direction: row;
}


/* FLEX VERTICAL */
section#Projects ul a,
section {
    display: flex;
    flex-direction: column;
}


/* ABOUT ME */
section#AboutMe img {
    width: 200px;
    border-radius: 12px;
}

section#AboutMe p {
    text-align: center;
    width: 95%;
}


/* PROYECTS */
section#Projects {
    background-color: rgb(237, 238, 255);
}

section#Projects ul {
    gap: 20px;
    padding: 20px;
    width: 95%;
    overflow-x: auto;
    mask: linear-gradient(to left, transparent 0%, white 1.2%, white 98.8%, transparent 100%);
}

section#Projects ul a {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(48, 48, 48);
    transition: .18s;
    gap: 7px;
}

section#Projects ul img {
    width: 250px;
    height: 280px;
    border: solid 1px rgb(48, 48, 48);
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
}

section#Projects ul a:hover,
section#SocialNetworks ul i:hover {
    transform: scale(1.09);
    transition: .4s;
}

/* SCROLLBAR MY PROJECTS */
section#Projects ul::-webkit-scrollbar {
    background: transparent;
    height: 10px;
}

section#Projects ul::-webkit-scrollbar-track {
    margin-inline: 50px;
}

section#Projects ul::-webkit-scrollbar-thumb {
    background: rgba(48, 48, 48, .765);
    border-radius: 12px;
}

section#Projects ul::-webkit-scrollbar-thumb:hover {
    background: rgba(76, 76, 76, 0.765);
}


/* SOCIAL NETWORKS */

section#SocialNetworks ul a {
    margin: 10px 15px;
}

section#SocialNetworks ul a i {
    font-size: 50px;
    color: rgb(48, 48, 48);
    transition: .3s;
}